/* Global */
html {
    background-color: #ecf0f1;
}
body {
    margin: 0px;
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
header, footer, section {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

/* Header */
header {
    margin-top: 15vw;
    height: calc(100vh - 15vw);
}
header h1 {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
header img {
    display: inline-block;
    border-radius: 100%;
    height: 10vw;
}
header figure {
    display: flex;
    width: 100%;
    float: left;
}
header figcaption {
    display: flex;
    align-items: center;
    height: 10vw;
    margin-left: 2.08rem;
}

/* Section */

/* Article */
#artical {
    margin: 0 25% 0 25%;
    width: 50%;
}
#artical p {
    padding-top: 0.6rem;
}

/* Footer */
footer sub {
    display: flex;
    color: rgba(0, 0, 0, 0.3);
    margin: 1rem auto 1rem auto;
    text-transform: none;
    text-align: center;
    justify-content: center;
}

/* Text */
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 500;
}
h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 500;
}
h4 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    margin: 0;
}
sub {
    display: inline-block;
    padding-bottom: 0.33rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #899db2;
}

/* Links */
a {
    color: rgb(231, 76, 60);
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: rgb(41, 128, 185);
}
a:visited {
    color: rgb(52, 152, 219);
}

nav ul {
    list-style: none;
    padding-left: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem 0 1rem;
    width: 10vw;
}
nav p {
    display: inline;
}

/* Cols */
.col {
    display: inline-block;
    margin: 0;
    width: 49%;
}
.col img {
    width: 100%;
}

/* Figure */
figure {
    margin: 0;
    margin-bottom: 1.5vw;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
figcaption {
    display: flex;
    border-top: none;
    justify-content: center;
    align-items: center;
    height: 5vw;    
}
figure img {
    vertical-align: middle;
}

.clickbox {
    pointer-events: none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.2s
}
.clickbox img {
    filter: grayscale(10%) brightness(75%);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.2s;
}
a:hover .clickbox img {
    filter: grayscale(0%) brightness(100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
a:hover .clickbox {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* Forms */
.tab:hover li {
    color: rgb(255, 255, 255);
}
.tab ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 0 0 0.3rem 0.1rem;
}
.tab li {
    display: inline;
    width: calc(100%/3);
    color: rgb(53, 75, 96);
    transition: 0.2s;
}
.tab .right {
    text-align: right;
}

.button, .tab {
    padding: 0.4rem 0.8em 0.3rem 0.8em;
    width: calc(70vw - 1.6em);
    height: 4.2rem;
    color: rgb(231, 76, 60);
    margin-bottom: 0;
    background-color: rgba(44, 62, 80, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;    
}
.button:hover, .tab:hover {
    color: rgb(255, 255, 255);
    margin-bottom: 0.4rem;
    background-color: rgba(44, 62, 80, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Whitespace */
.block {
    height: 5vw;
}
.block.double {
    height: 10vw;
}
.block.triple {
    display: inline-block;
    height: 15vw;
}

/* IDs */
#resume ul {
    margin-top: 0;
}

/* Other */
.left {
    text-align: left;
    float: left;
}
.middle {
    text-align: left;
    float: left;
}
.right {
    float: right; 
}
.line {
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.fade-in {
    animation: fadeIn 2s ease forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}